body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

/* General styling for buttons */
.btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    margin-right: 10px;
}

.btn:hover {
    background-color: #333;
}

/* Version info container */
.version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

/* Zoom Slider */
.zoom-slider-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#zoomSlider {
    width: 300px;
}

/* Overlay buttons container */
.overlay-buttons {
    position: fixed;
    top: 10px;
    right: 120px;
}
