body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}
.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
}
img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease;
    transform-origin: center;
}
.zoomed {
    cursor: grab;
}
.version {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: right;
    font-family: 'Arial', sans-serif;
}
/* General button styling */
.btn {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px; /* Ensure spacing between buttons */
}


.btn:hover {
    background-color: #333; /* Darker grey on hover */
}
#copyBtn {
    top: 60px; /* Push this button below the Download button */
    right: 10px;
}
.overlay {
    position: absolute;
    border: 2px solid rgba(255, 0, 0, 0.7); /* Red overlay border */
    pointer-events: none; /* Ensure the overlay doesn't block interactions */
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.3); /* Darken the background */
}

.cover {
    width: 1280px;
    height: 1280px;
}

.mobile-header {
    width: 750px;
    height: 760px;
}

.desktop-header {
    width: 2660px;
    height: 1496px;
}

.overlay-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
}
#coverBtn {
    top: 110px; /* Position below Copy Button */
    right: 10px;
}
#mobileHeaderBtn {
    top: 160px; /* Position below Cover Button */
    right: 10px;
}

#desktopHeaderBtn {
    top: 210px; /* Position below Mobile Header Button */
    right: 10px;
}