body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

/* General styling for buttons */
.btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #333;
}

/* Zoom Slider */
.zoom-slider-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#zoomSlider {
    width: 300px;
}

/* Overlay Window */
.overlay-window {
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.5);
    display: none;
    pointer-events: none;
}

.overlay-buttons {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Size and aspect ratio for overlays */
.playlist {
    width: 100%;
    height: 100%;
}

.mobile-header {
    aspect-ratio: 750 / 760;
    width: 100%;
}

.desktop-header {
    aspect-ratio: 2660 / 1496;
    width: 100%;
}
